.sort-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	border-radius: 4px;
	user-select: none;
}

.sort-container:hover {
	color: var(--ink);
}

.sort-icon-container {
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	flex: none;
}

.sort-icon-container svg {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.sort-path {
	fill: transparent;
}

.sort-path-active {
	fill: var(--accent);
}
