.sort-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.1rem;
}

.sort-icon-container {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-left: 0.25rem;
}

.sort-icon-container svg {
	display: inline-block;
	width: 100%;
	height: 100%;
    padding: 0.1rem;
}

.sort-container:focus {
	outline: 1px solid var(--outlineLight);
}

.sort-path {
    stroke: var(--borderLight);
    stroke-width: 2;
	fill: #ffffff;
}

.sort-path-active {
    stroke: var(--borderLight);
    stroke-width: 1;
	fill: var(--borderLight);
}

.sort-dark:focus {
	outline: 1px solid var(--outlineDark);
}

.sort-dark .sort-path {
    stroke: var(--borderDark);
	fill: var(--backgroundDark);
}

.sort-dark .sort-path-active {
    stroke: var(--borderDark);
	fill: var(--borderDark);
}