.host-search-container {
	margin-left: 1rem;
}

.host-search-input {
	margin-left: 0.5rem;
	height: 1.5rem;
	border-radius: 0.25rem;
	border: 1px solid var(--outlineLight);
}

.host-search-input:focus {
	border: 1px solid transparent;
	outline: 2px solid var(--outlineLight);
}

.host-search-dark .host-search-text {
	color: var(--textDark);
}

.host-search-dark input {
	color: var(--textDark);
	background-color: var(--selectDark);
	border: 1px solid var(--outlineDark);
}

.host-search-dark input:focus {
	border: 1px solid transparent;
	outline: 2px solid var(--outlineDark);
}

@media screen and (max-width: 1000px) {
    .host-search-container {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}