.host-prices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--borderLight);
    margin-top: 1rem;
    position: relative;
}

.host-prices-container p {
    margin-bottom: 0;
}

.host-prices-dark {
    border-color: var(--borderDark);
}

.host-prices-dark p {
    color: var(--textDark);
}
