.network-selector-container {
	margin: 0 1rem;
    position: relative;
}

.network-selector-select {
	height: 1.5rem;
	border-radius: 0.25rem;
}

.network-selector-select:focus {
	border: 1px solid transparent;
	outline: 2px solid var(--outlineLight);
}

.network-selector-text {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
	.network-selector-container {
		margin: 0 0.5rem;
	}
}