*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}

body {
	margin: 0;
	padding: 0.5rem;
	width: 100%;
	height: 100vh;
}

select, input {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hosts {
    margin-top: 1rem;
    margin-right: 5%;
    width: 45%;
}

.current-host {
    margin-top: 1rem;
    width: 45%;
    border: 1px solid black;
    padding: 0.5rem;
    overflow: auto;
}

.current-host table {
    max-width: 100%;
}

.current-host td {
    white-space: nowrap;
    padding-right: 0.5rem;
}

.search {
    margin-top: 1rem;
}

.hosts-table, .host-benchmarks {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.hosts-table td, .hosts-table th {
    padding: 0.25rem 0.5rem;
    border: 1px solid black;
}

.hosts-table a {
    text-decoration: underline;
    cursor: pointer;
}

.host-status {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0 auto;
}

.host-status-good {
    background-color: green;
}

.host-status-medium {
    background-color: orange;
}

.host-status-bad {
    background-color: red;
}

.host-benchmarks {
    table-layout: fixed;
}

.host-benchmarks td, .host-benchmarks th {
    padding: 0.25rem 0.5rem;
    border: 1px solid black;
    white-space: normal;
    word-break: break-word;
}

.benchmark-pass::after {
    content: "\2714";
    color: green;
    font-size: 1rem;
    margin-left: 1rem;
}

.benchmark-fail::after {
    content: "\2717";
    color: red;
    font-size: 1rem;
    margin-left: 1rem;
}

.nav {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav a {
    margin: 0 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.nav a.disabled {
    text-decoration: none;
    pointer-events: none;
    cursor: inherit;
}

.small {
    font-size: 0.8rem;
}

.hidden {
    display: none;
}

@media screen and (max-width: 3440px) {

	html {
		font-size: 28px;
	}
}

@media screen and (max-width: 2560px) {

	html {
		font-size: 20px;
	}
}

@media screen and (max-width: 1920px) {

	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 1000px) {

	.hosts, .current-host {
		width: 100%;
        margin-right: 0;
	}
}
