.host-info-container {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	overflow: auto;
}

.host-info-container table {
	border: 1px solid var(--borderLight);
	padding: 0.25rem;
	font-size: 0.9rem;
}

.host-info-container tr > td:first-child {
	min-width: 11rem;
}

.host-info-dark table {
	color: var(--textDark);
	border-color: var(--borderDark);
}

.host-info-small {
	font-size: 0.7rem;
}

.host-info-score span {
	cursor: pointer;
}

.host-info-score span::after {
	display: inline-block;
	content: '\025be';
	margin-left: 0.5rem;
	font-size: 1.1rem;
	line-height: 0.9rem;
	transition: transform 0.1s linear;
}

.host-info-score-expanded span::after {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.host-info-score-details td {
	padding-left: 1rem;
}

.host-info-tooltip .tooltip-text {
	left: 1.5rem;
	top: 0;
	right: unset;
	white-space: nowrap;
}

.host-info-tooltip-row {
	display: flex;
	flex-direction: row;
}

.host-info-tooltip-row span:first-child {
	margin-right: 0.5rem;
}