.faq-container {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    position: relative;
}

.faq-container h1 {
	font-size: 2rem;
}

.faq-container p {
	font-size: 1rem;
    margin-top: 0;
}

.faq-container-dark h1,
.faq-container-dark div {
	color: var(--textDark);
}

.faq-container .button-container {
    position: absolute;
    top: 1rem;
    right: 0;
}

@media screen and (max-width: 1000px) {
	.faq-container h1 {
        text-align: center;
		font-size: 1.5rem;
	}

    .faq-container .button-container {
        position: inherit;
    }
}