.host-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin-top: 1rem;
    border: 1px solid var(--borderLight);
    width: 100%;
}

.host-map-dark {
    border-color: var(--borderDark);
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.leaflet-container a {
    color: #000000;
}

.host-map-dark .leaflet-container a {
    color: var(--textDark);
}

.leaflet-popup-content {
    margin: 0.5rem 1rem;
}

.host-map-link {
    text-decoration: none;
}

.host-map-link:hover,
.host-map-link:focus {
    text-decoration: underline;
}

.host-map-marker {
    background-color: #009fff;
    border-radius: 50%;
    display: block;
    width: 1rem;
    height: 1rem;
}

.host-map-dark .leaflet-popup-content-wrapper,
.host-map-dark .leaflet-popup-tip {
    background-color: var(--outlineLight);
    color: var(--textDark);
}

.host-map-dark .host-map-unknown {
    color: var(--textDark);
}

.host-map-dark .leaflet-popup-close-button span {
    color: var(--borderDark);
}

.host-map-dark .leaflet-control-zoom-in,
.host-map-dark .leaflet-control-zoom-out,
.host-map-dark .leaflet-control-attribution {
    background-color: var(--borderDark);
}
