.host-details-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
    position: relative;
}

.host-not-found {
	align-self: center;
	width: 100%;
	text-align: center;
	font-size: 2rem;
}

.host-details-dark .host-not-found {
	color: var(--textDark);
}

.host-details-subcontainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.host-details-container .button-container {
    position: absolute;
    top: -0.5rem;
    right: 0;
}

.host-details-loader {
    position: absolute!important;
    left: 46vw;
    top: 32vh;
}

@media screen and (max-width: 1000px) {
	.host-details-container {
		flex-direction: column;
	}

    .host-details-subcontainer {
        width: inherit;
    }

    .host-details-loader {
        left: 40vw;
    }
}